* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.459);
}

.header-container {
  max-width: 1560px;
  min-width: 1440px;
  height: 100px;

  display: flex;
  justify-content: space-between;
}

.header_left {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100px;
}

.header_left-logo {
  width: 90px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.nav_wrap {
  display: flex;
  justify-content: space-between;
}
.nav_wrap ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.nav_wrap-brand-new span,
.nav_wrap-brand-best span,
.nav_wrap-brand-brand span,
.nav_wrap-brand-kids span,
.nav_wrap-brand-shoes span {
  cursor: pointer;
}

.nav_wrap-brand {
  padding-right: 20px;
}

.nav_wrap-event {
  width: 100%;
  padding-left: 20px;
  border-left: 1px solid rgba(128, 128, 128, 0.459);
}

/* header right */
.header_right {
  display: flex;
  flex-direction: column;
  align-items: end;

  width: 30%;
  height: 100px;
}

.header_right-icon-wrap {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.header_right-icon-wrap h2 .fa-user {
  margin-right: 10px;
  cursor: pointer;
}
.header_right-icon-wrap h2 .fa-cart-shopping {
  margin-left: 10px;
  cursor: pointer;
}

.header_right-search {
  position: relative;
  border-bottom: 1px solid gray;
}

.header_right-search input {
  border: none;
  outline: none;
  cursor: pointer;
}

.header_right-search .fa-magnifying-glass {
  position: absolute;
  left: 150px;
  top: 4px;
  font-size: 17px;
  cursor: pointer;
}

/* brand서브메뉴 */

.nav_wrap-brand-brand {
  position: relative;
}

.nav_wrap-brand-brand .sub {
  /* fixed 적용 => 화면 전체 bgc컬러 지정해결 */
  position: fixed;
  left: 0;
  width: 100vw;
  height: 300px;
}

.nav_wrap-brand-brand .sub .sub-wrap {
  width: 100vw;
  height: 300px;
  display: flex;
  align-items: center;

  justify-content: space-evenly;

  background-color: white;
}

.nav_wrap-brand-brand .sub .sub-wrap .sub-wrap-one-title {
  width: 15%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav_wrap-brand-brand .sub .sub-wrap .sub-wrap-one-list {
  width: 60%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
  border-left: 1px solid rgba(128, 128, 128, 0.459);
}

.nav_wrap-brand-brand .sub .sub-wrap .sub-wrap-one-list li {
  width: fit-content;
  cursor: pointer;
}

/* shoes서브메뉴 */
.nav_wrap-brand-shoes {
  position: relative;
}

.nav_wrap-brand-shoes .sub {
  /* fixed 적용 => 화면 전체 bgc컬러 지정해결 */
  position: fixed;
  left: 0;
  width: 100vw;
  height: 300px;
}

.nav_wrap-brand-shoes .sub .sub-wrap {
  width: 100vw;
  height: 300px;
  display: flex;
  align-items: center;

  justify-content: space-evenly;

  background-color: white;
}

.nav_wrap-brand-shoes .sub .sub-wrap .sub-wrap-two-title {
  width: 15%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: end;
  /* border: 1px solid pink; */
}

.nav_wrap-brand-shoes .sub .sub-wrap .sub-wrap-two-list {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
  border-left: 1px solid rgba(128, 128, 128, 0.459);
  background-color: aquamarine;
}

.nav_wrap-brand-shoes
  .sub
  .sub-wrap
  .sub-wrap-two-list
  .sub-wrap-two-list-onetitle
  span,
.nav_wrap-brand-shoes
  .sub
  .sub-wrap
  .sub-wrap-two-list
  .sub-wrap-two-list-twotitle
  span,
.nav_wrap-brand-shoes
  .sub
  .sub-wrap
  .sub-wrap-two-list
  .sub-wrap-two-list-threetitle
  span {
  width: fit-content;
  cursor: pointer;
}

.sub-wrap-two-list-onetitle {
  display: flex;
  width: 60%;
  height: 300px;
  /* border: 1px solid red; */
  justify-content: space-between;
}

.sub-wrap-two-list-onetitle ul {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  /* border: 1px solid blue; */
}

.sub-wrap-two-list-twotitle {
  display: flex;
  width: 60%;
  height: 300px;
  /* border: 1px solid pink; */
  justify-content: space-between;
}

.sub-wrap-two-list-twotitle ul {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  /* border: 1px solid gold; */
}

.sub-wrap-two-list-threetitle {
  display: flex;
  width: 60%;
  height: 300px;
  /* border: 1px solid greenyellow; */
  justify-content: space-between;
}

.sub-wrap-two-list-threetitle ul {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  /* border: 1px solid brown; */
}

/* kids서브메뉴 */

.nav_wrap-brand-kids {
  position: relative;
}

.nav_wrap-brand-kids .sub {
  /* fixed 적용 => 화면 전체 bgc컬러 지정해결 */
  position: fixed;
  left: 0;
  width: 100vw;
  height: 300px;
  background-color: white;
}

.nav_wrap-brand-kids .sub .sub-wrap .sub-wrap-three-title {
  width: 23%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* Detail */

.detail {
  width: 80%;
  border: 1px solid red;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
/* left */
.detail-left {
  width: 45%;
  height: 100vh;
}
.detail-left-img {
  width: 100%;
  height: 85vh;
}

.detail-left-bullet {
  display: flex;
  justify-content: center;
}

/* right */
.detail-right {
  width: 45%;
  height: 100vh;
}

.detail-logo-productname {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid black;
}

.detail-productname {
  margin-top: 15px;
}

.detail-review-point {
  width: 100%;
  height: 30%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.detail-review-point div span:first-child {
  margin-right: 10px;
  background-color: bisque;
}

.detail-review-point div:first-child span {
  margin-right: 10px;
}

.detail-size-button {
  width: 100%;
  height: 30%;
  /* border-bottom: 1px solid black; */
}

.detail-size {
  border-bottom: 1px solid black;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  overflow: scroll;
}
.detail-size::-webkit-scrollbar {
  display: none;
}

.size-selector {
  width: 80%;
  /* border-bottom: 1px solid black; */
}

#size {
  width: 90%;
  border: none;
  border-bottom: 1px solid gray;
}

.size-area {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.678);
  margin-top: 12px;
}

.size-area-up {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 12px 10px;
}

.size-area-up button {
  width: 24px;
}
.size-area-down {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}

.size-area-down div:first-child {
  display: flex;
}

.size-area-down div:first-child div {
  display: flex;
  justify-content: center;
  width: 24px;
}
.size-area-down div:first-child button {
  width: 24px;
}

.amount {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.amount h2 {
  margin-left: 10px;
}

.amount-button {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
}

.amount-button-good {
  width: 10%;
  height: 100%;
  border: none;
}
.amount-button-good:hover {
  background-color: deeppink;
}
.amount-button-cart {
  width: 43%;
  height: 100%;
  border: none;
  background-color: gray;
  color: beige;
}

.amount-button-cart:hover {
  background-color: beige;
  color: gray;
}

.amount-button-buy {
  width: 43%;
  height: 100%;
  border: none;
  background-color: rgb(92, 92, 212);
  color: beige;
}

.amount-button-buy:hover {
  background-color: beige;
  color: rgb(92, 92, 212);
}
